.page {
  width: 100%;
  min-height: 100vh;
}
.sider {
  background: white;

  .listHeader {
    width: 384px;
    height: 204px;
    background: white;
    display: flex;

    .listTitleImg {
      margin-left: 5px;
      margin-right: 20px;
      margin-top: 30px;
      width: 122px;
      height: 146px;
    }

    .listDes {
      margin-top: 30px;
      text-align: center;
    }
  }

  .menu {
    width: 384px;
  }
}

.showContent pre {
  background-color: #f6f8fa;
  padding: 20px;
  border-radius: 6px;
  ol {
    padding-left: 0;
  }
  li {
    list-style: none;
    height: 22px;
    .code-word {
      height: 25px;
    }
  }
}

.showContent img {
  width: 70%;
}

.showContent h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  padding: 10px 0;
}
.showContent h1,
h2,
h3 {
  border-bottom: 1px solid #eeeeee;
}

.showContent p {
  color: #555;
  code {
    word-break: break-word;
    border-radius: 2px;
    overflow-x: auto;
    background-color: #fff5f5;
    color: rgb(182, 123, 123);
    font-size: 0.87em;
    padding: 0.065em 0.4em;
  }
}
