.page {
  width: 100%;
  min-height: 100vh;
}
.sider {
  width: 384px;
  background: white;

  .listHeader {
    width: 384px;
    height: 204px;
    background: white;
    display: flex;

    .listTitleImg {
      margin-left: 5px;
      margin-right: 20px;
      margin-top: 30px;
      width: 122px;
      height: 146px;
    }

    .listDes {
      margin-top: 30px;
      text-align: center;
    }
  }

  .menu {
    width: 384px;
  }
}

.content {
  display: flex;
  margin: 24px, 16px;
  padding: 24px;
  background: white;
}

.showVeiw {
  display: flex;
  width: 80%;
  background: red;
  flex: 1;
  overflow: hidden;
}
